<ion-header>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      [(ngModel)]="correo"
      placeholder="Correo">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea
      [(ngModel)]="mensaje">
    </ion-textarea>
  </ion-item>

  <ion-button (click)="enviar()">
    Enviar
  </ion-button>

  <p *ngIf="enviado" style="color: green; text-align: center; margin-top: 12px;">
    ✅ Mensaje guardado correctamente
  </p>

</ion-content>
